# sqlalchemy

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base

# URL
DATABASE_URL = "sqlite:///notebook-example.db"

# Base
Base = declarative_base()

# Demo Create Tables
def create_tables():
    engine = create_engine(DATABASE_URL, echo=False)
    Base.metadata.create_all(engine)

# dbcontroller

In [5]:
import functools
import dbcontroller as dbc

model = dbc.Model(sql=Base)
SQL = functools.partial(dbc.SQL, DATABASE_URL)

# Model

In [3]:
@model.sql(table_name="users")
class UserSQL:
    name: str
    notes: dbc.Text
    meta: dbc.JSON
    disabled: bool = False

# Manager

In [4]:
# Connct "Type" to "Controller" 
table = SQL(UserSQL)

# Create Table
create_tables()

In [5]:
await table.create([{"name": "joe doe"}, {"name": "jane doll"}])

Response(data=[namespace(_id=1, name='joe doe', notes=None, meta=None, disabled=None, id='MTo6YTU1ZTUzMmVhYjAyOGI0Mg=='), namespace(_id=2, name='jane doll', notes=None, meta=None, disabled=None, id='Mjo6M2VmOWFiYmI1ZGY1YjY0MQ==')], error=False, error_message=None, count=2, pages=0)

In [6]:
await table.all()

Response(data=[namespace(_id=1, name='joe doe', notes=None, meta=None, disabled=None, id='MTo6YTU1ZTUzMmVhYjAyOGI0Mg=='), namespace(_id=2, name='jane doll', notes=None, meta=None, disabled=None, id='Mjo6M2VmOWFiYmI1ZGY1YjY0MQ==')], error=False, error_message=None, count=2, pages=1)

# Others

In [6]:
UserSQL(name="Hello World")

NameError: name 'UserSQL' is not defined

In [ ]:
UserSQL.__annotations__